<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="VisualFeedbackWidth" value="20" />
        <add key="MinimumPointDistance" value="20" />
        <add key="Opacity" value="0,103381642512078" />
        <add key="Timeout" value="800" />
        <add key="VisualFeedbackColor" value="Silver" />
    </appSettings>
</configuration>